.navbar__logo{
    /* display: flex; */
    width: 100%;
    max-width: 50px;
    height: 50px;
}
.navbar__wrapper{
    display: flex;
    align-items: center;
    gap: 100px;
}
.navbar{
    display: flex;
    
}
